# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Build outputs
dist/
build/
.next/
out/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
logs/
*.log

# Expo / React Native (mobile)
.expo/
web-build/
*.tsbuildinfo
