.container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 900px;
}

.cardRotate {
  position: absolute;
  inset: 0;
  cursor: grab;
  touch-action: none;
}

.cardRotateDisabled {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
}
